.env
*.log
debug
target
**/*.rs.bk
.idea/
.DS_Store
.claude
.vscode
home/homed/config.toml
home/backup/backup.env
home/services/traefik/traefik.yml
vps/authelia/secrets/
vps/authelia/users_database.yml