BACKUP_DRIVE_UUID=""
BACKUP_MOUNT="/mnt/backup"
BACKUP_KEYFILE="/etc/backup/backup.key"
BACKUP_SOURCES="/var/lib/nextcloud/data/USER/files/Photos /var/lib/nextcloud/data/USER/files/Documents"
NTFY_URL=""
NTFY_TOPIC=""
NTFY_TOKEN=""
ALERT_ON_MISSING="false"
